<div class="jumbotron">
  <h1>Add Model</h1>
</div>
<form action="/action_page.php">
	<div class="row">
		<div class="col-sm-3">
		  <div class="form-group">
			<label for="ModelName">Model Name:</label>
			<input type="text" class="form-control" id="ModelName">
		  </div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
			  <label for="sel1">Select list:</label>
			  <select class="form-control" id="sel1">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			  </select>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
	  <div class="form-group">
		<label for="color">Color:</label>
		<input type="text" class="form-control" id="color">
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="form-group">
		<label for="manufacturingYear">Manufacturing Year:</label>
		<input type="number" class="form-control" id="manufacturingYear">
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="form-group">
		<label for="registrationNumber">Registration Number:</label>
		<input type="text" class="form-control" id="registrationNumber">
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="form-group">
		<label for="modelNote">Note:</label>
		 <textarea class="form-control" rows="3" id="modelNote"></textarea>
	  </div>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
